<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

    <h2><a href="{% url 'home' %}">Home</a></h2>

    <div class="mess_show">
        {% include 'extensions/messages.html' %}
    </div>

    <h3>Chart is here <a href="{% url 'files' %}">chart</a></h3>

    <div class="main">

        {% block content %}

        {% endblock content %}
    </div>

</body>
</html>