{% extends 'extensions/base.html' %}

{% block content %}

    <h3 class="mt-4">Graph here</h3>

    <a href="{% url 'files' %}" class="h6 d-block mb-2">files</a>

    <form action="." method="GET">

        {% for form in title_formX %}

            {{form}}

        {% endfor %}

        {{title_formY.y_field}}

        <input type="submit" value="add-title" name="form_type" class="border rounded p-1 btncs text-white">

        <input type="submit" value="pop" name="form_type" class="border rounded p-1 btncs text-white">

        <input type="submit" value="show" name="form_type" class="border rounded p-1 btncs text-white">
    </form>

    <div class="mt-3">
        {% if charts %}

            {% for chart in charts %}

                <img src="data:image/png;base64, {{chart|safe}}" alt="No image here yet">

            {% endfor %}

        {% endif %}
    </div>

{% endblock content %}