{% extends 'extensions/base.html' %}

{% block content %}

    <h1>Graph here</h1>

    <a href="{% url 'files' %}">files</a>

    <form action="." method="GET">

        {% for form in title_formX %}

            {{form}}

        {% endfor %}

        {{title_formY.y_field}}

        <input type="submit" value="add-title" name="form_type">

        <input type="submit" value="pop" name="form_type">

        <input type="submit" value="show" name="form_type">
    </form>

    <div>
        {% if charts %}

            {% for chart in charts %}

                <img src="data:image/png;base64, {{chart|safe}}" alt="No image here yet">

            {% endfor %}

        {% endif %}
    </div>

{% endblock content %}