{% extends 'extensions/base.html' %}

{% block content %}

    <h1>Graph here</h1>

    <form action="." method="GET">

        {% for form in title_formX %}

            {{form}}

        {% endfor %}

        {{title_formY.y_field}}

        <input type="submit" value="add-title" name="form_type">

        <input type="submit" value="pop" name="form_type">

        <input type="submit" value="send" name="form_type">
    </form>

    <div>
        {% if chart %}

            <img src="data:image/png;base64, {{chart|safe}}" alt="No image here yet">

        {% endif %}
    </div>

{% endblock content %}